{% extends "layout.html" %}
{% block title %}Just Home{% endblock title %}
{% block content %}
<div class="container">
    <h1>My home page</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo ipsa, in sed at deserunt non maxime quis doloribus ea placeat tempore cumque magni voluptas hic ad fugit delectus nesciunt reprehenderit!
        Est magnam facilis quia ut culpa ullam distinctio consequuntur quam aliquid, debitis eius praesentium. Iusto, neque perferendis aliquam rerum eligendi adipisci modi sequi, repellendus nobis nemo, fugiat deleniti velit natus.
        Necessitatibus perferendis iste non quaerat excepturi sed, exercitationem repellat consectetur, quasi rem expedita magni? Quidem ratione aperiam quibusdam quis tenetur enim quasi voluptate quos cum assumenda, officia obcaecati? Iure, ducimus?
        Magni aliquid tempore veritatis ipsum in sequi quam laborum fuga sed porro odio laudantium iste ex ea et est, earum illo temporibus aliquam nostrum error ratione dignissimos distinctio. Eveniet, natus?
        Commodi laudantium reprehenderit qui repudiandae recusandae veritatis ipsum fugiat odio explicabo? Adipisci, ab facilis. Voluptatum, voluptatibus odit consequuntur corrupti id illum non repudiandae. Commodi, quidem sunt ad eveniet culpa temporibus.
        Id nam at maiores alias repellendus itaque voluptatem neque rerum corporis! Minus repellendus quam eaque eos possimus quidem eveniet inventore error alias quos. Beatae aspernatur a corrupti, cum facilis ab?
        In esse ipsum quas animi id aliquid, minus neque laborum ex sint nihil sequi quibusdam hic quia voluptatibus aut, eius veritatis tenetur alias? Voluptate odio soluta explicabo ipsum officia exercitationem.
        Accusamus expedita commodi mollitia illo praesentium veniam laboriosam labore quis. Libero voluptatem fugit ducimus natus impedit rerum assumenda obcaecati eum laudantium doloremque, id eaque. Ducimus eaque quo laudantium porro itaque!
        Dolores reiciendis ullam, nihil iusto illum optio quod, porro est a dignissimos consectetur magni cumque at. Autem quis vitae itaque vel, incidunt, alias numquam hic, aspernatur unde natus ullam laborum?
        Natus debitis eveniet non quo autem iusto ut repellendus praesentium nobis modi repudiandae dolores neque ducimus, soluta, harum sit minus? Dolorum, similique? Aut, totam eos architecto commodi molestiae repellat quis?
    </p>
</div>
{% endblock content %}